$bg-color: #204566;
$jumbo-color: #F45B69; 
$roundness: 50%;

body {
    background-color: $bg-color;
}

#title {
    text-align: center;
}

#quoteJumbo {
    background-color: $jumbo-color;
    box-shadow: 7px 7px #FFD166;
    margin-top: 10%;
}

#quoteBtn {
    margin: 0 auto;
}