$bg-color: #204566;
$jumbo-color: #C64D4D;
$jumbo-shadow-color: #F0A202;
$quote-btn-color: #E1A25E;

$quote-font: 'Montserrat', sans-serif;
$title-font: 'Bungee', cursive;

body {
    background-color: $bg-color;
}

#title {
    font-family: $title-font;
    text-align: center;
}

#quoteJumbo {
    background-color: $jumbo-color;
    box-shadow: 7px 7px $jumbo-shadow-color;
    margin-top: 10%;
}

#quoteBtn {
    background-color: $quote-btn-color;
    box-shadow: 3px 3px 5px;    
    display: block;
    font-size: 4vh;
    margin-left: auto;
    margin-right: auto;

}

#quoteBtn:hover {
    background-color: #f7b974;
}

#quoteBtn:active {
    border: 0;
}


#quote {
    h2, h3 {
        font-family: $quote-font;
    }
}

.my-twitter {
    i {
        color: white;
        font-size: 6vh;
        text-align: center;
    }
}